 /* this is my font link */
 @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
 }

 /* shared style */

 .orange {
    color: #ff4500;
 }

 .gray-bar {
    color: #808080;
 }


 .heading-black {
    /* it will use for each of the heading of sections */
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
 }

 

 .heading-black-small {
   /* It will use for every small black heading */
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
 }

 .bodytext {
    /*it will use for body letter of each section  */
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
 }


/*  */
/*  */
/*  */


 /* start navbar */
 header {
    padding: 50px 100px;

 }

 .totalnav {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    background-color: whitesmoke;
    height: 6rem;
    border-radius: 15px;

 }

 .leftside {
    width: 50%;
    display: flex;
    align-items: center;

 }

 .leftside img {
    width: 5rem;
    height: rem;
    object-fit: cover;
 }

 h2 {
    font-size: 2rem;
    padding-left: 10px;
 }


 .rightside {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .rightside li {
    list-style: none;
    display: inline-flex;
    padding: 15px;


 }

 .rightside a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
 }


 /* start banner section*/

 main {
    max-width: 1400px;
    margin: 0 auto;

 }

 .banner-property {

    background: linear-gradient(180deg, rgb(26 26 37 / 80%) 0%, rgba(19, 19, 24, 0.00) 100%), url(/assets/Group\ 13\ \(1\)\ \(1\).png);
    object-fit: cover;
    height: 500px;
    border-radius: 15px;
    flex-shrink: 0;
    padding: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }



 .white-heading {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
 }


 .text {

    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 2rem;

 }

 .search-here {
    background: rgba(255, 255, 255, 0.30);
    margin-top: 2rem;
    border-radius: 15px;
    display: inline-flex;
    align-items: flex-start;
    padding: 16px;
    gap: 20px;
    margin-left: 15rem;
    position: relative;


 }

 #btn-org {
    background-color: #ff4500;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 }

 .search-here .bodytext {
    width: 8rem;
    height: 2.5rem;
    border-radius: 8px;
    border: none;
    text-align: center;

 }



 /* Start popular tours section */

 .popular-tour-section {


    display: flex;
    max-width: 1400px;
    height: 550px;
    margin: 0 auto;
    margin-top: 6rem;
    padding-left: 10px;

 }

 .populartour {
    margin-right: 2rem;
 }

 .populartour li {
    line-height: 26px;
    margin-top: 1rem;
    padding: 2rem auto;
    width: 525px;
 }

 .all-btn {
    background-color: #ff4500;
    color: #FFF;
    font-weight: 700;
    font-size: 20px;
    font-family: Mulish;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: none;
    flex-shrink: 0;
    margin-top: 2rem;

 }

 section .populartour p {
    margin-top: 1rem;
 }

